@model IEnumerable<DomainModel.ViewModels.VaultViewModel>

@{
    ViewBag.Title = "Vaults";
}

<table class="table table-striped">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(x => x.FirstOrDefault().Id)</th>
        <th>@Html.DisplayNameFor(x => x.FirstOrDefault().Name)</th>
        <th>@Html.DisplayNameFor(x => x.FirstOrDefault().Description)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var vault in Model)
    {
        <tr>
            <td>@vault.Id</td>
            <td>@Html.ActionLink(vault.Name, "Details", new { vaultId = vault.Id.ToString() })</td>
            <td>@vault.Description</td>
            <td>@Html.ActionLink("Access logs", "AccessLogs", new { vaultId = vault.Id.ToString() })</td>
        </tr>
    }
    </tbody>
</table>